body{
    display: flex;
    flex-direction: column;
  }
  
  .sansButton{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    .user{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  
    .user p{
      color: lightseagreen;
      font-size: 20px;
      padding: 1px;
    }
  
    .siteTitle{
      display: flex;
      justify-content: center;
      color: lightseagreen;
      background-color: white;
      font-size: 30px;
    }
  
      main{
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  
      .halfSection{
      width: 100%;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    
    .halfSection div{
      padding: 10px;
      background-color: lightseagreen;
      color: white;
      border-radius: 25px;
      margin: 5px;
    }
  
       .fullSection{
      width: 100%;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  
    .fullSection div{
      padding: 10px;
      background-color: lightseagreen;
      color: white;
      border-radius: 25px;
      margin: 5px;
    }
    
    .sectionTitle{
      color: lightseagreen;
      background-color: white;
      padding: 10px;
      border-radius: 25px;
    }
  
    .questionPool div{
      color: lightseagreen;
      background-color: white;
      padding: 10px;
      border-radius: 25px;
    }
    
    button{
      display: flex;
      justify-content: center;
      flex-grow: 1;
      background-color: white;
      color: lightseagreen; 
      border-radius: 25px;
      font-size: 25px;
      padding: 10px;
      margin: 20px;
    }
  
    .submitter{
      display: flex;
      justify-content: center;
      font-size: 15px;
    }
  
      button:hover{
      cursor: pointer;
      background-color: lightseagreen;
      color: white; 
    }
  
    .profileBack{
      display: flex;
      flex-grow: 1.5;
      justify-content: center;
      background-color: lightseagreen;
      color: white; 
      border-radius: 25px;
      font-size: 15px;
      padding: 25px;
      margin: 20px;
    }
  
    .profileForm{
      display: flex;
      flex-direction: column;
    }
    
    .profileForm div{
      margin: 3px;
    }
  
    .userButton{
      display: flex;
      margin-left: auto;
    }
  
    .rightAnswer{
      display: flex;
      font-size: 20px;
    }
  
    .wrongAnswer{
      display: flex;
      flex-direction: row;
    }
  
    .wrongAnswer p{
      width: 50%;
      font-size: 20px;
    }
  
     .wrongAnswer button{
      width: 50%;
      font-size: 15px;
    }
  
  .falseAnswers{
    display: flex;
    flex-direction: column;
    margin: 2px;
  }
  
  .questionSubmit{
    display: flex;
    justify-content: center;
    width: 90%;
  }
  
  .answerForm{
    display: flex;
    flex-direction: row;
  }
  
  .answerLabel{
    display: flex;
    flex-direction: column;
  }
  
  .answerLabel label{
      font-size: 20px;
  }
  
  .answerButton{
    display: flex;
    flex-shrink: 1;
    font-size-adjust: auto;
  }
  
  .formSubmit{
    display: flex;
    width: 95%;
  }
  
  .quizQuestion{
    font-size: 20px;
  }
  
  .checker{
    display:flex;
    flex-direction: column;
  }
  
  .chosen{
    color: lightseagreen;
    background-color: white;
    border-radius: 10px;
  }
  
  .correct{
    color: lightseagreen;
    background-color: yellow;
    border-radius: 10px;
  }
  
  @media only screen and (min-width: 768px){
  
   .sansButton{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
    
    
    .user{
      width: 40%;
    }
  
  
    .user p{
      color: lightseagreen;
      font-size: 20px;
      padding: 5px;
    }
  
      .siteTitle{
      color: lightseagreen;
      background-color: white;
      font-size: 30px;
    }
  
    main{
      flex-direction: row;
    }
  
    .halfSection{
      width: 50%;
    }
  
    .createQuiz{
      color: lightseagreen;
      background-color: white;
      padding: 10px;
      border-radius: 25px;
      font-size: 20px;
    }
  
    button{
      width: 25%;
    }
  
  }
  