.createQuiz{
    display: flex;
    flex-direction: column;
}

.quizList{
    display: flex;
    flex-direction: column;
}

.quizList div{
    width: 400px;
}

@media only screen and (min-width: 768px){

    .createQuiz{
        width: 99%;
    }

    .quizList{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

}